body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1vw;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    max-width: 100%;
    grid-template-areas: 'logo menu menu login ''main main main main ''fix fix fix fix ''social social social social''footer footer footer footer';
}

.logo {
    grid-area: logo;
    background: #c70101;
    position: sticky;

}

img {
    width: 60px;
    height: auto;
    padding-left: 10vw;
    /* width: 10vw; */
}

.menu {
    grid-area: menu;
    background: #c70101;
    position: sticky;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-top: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.menu li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.menu a:before,
.menu a:after {
    content: '';
    border-bottom: solid 1px white;
    position: absolute;
    bottom: 0;
    width: 0;
}

.menu a:before {
    left: 0;
}

.menu a:after {
    right: 0;
}

.menu a:hover:before,
.menu a:hover:after {
    width: 50%;
}

.menu a:before,
.menu a:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


.menu-right {
    grid-area: login;
    background: #c70101;
    color: #fff;
    position: sticky;
    transition: all .2s ease-in-out;
}

.menu-right i {
    padding: 2.5vh 1vw 0 1vw;
    margin-top: 7px;
}

.menu-right i:hover {
    transform: scale(1.2);

}

.menu-right a,
.menu-right .lang {
    color: #fff;
    cursor: pointer;
}

.main {
    grid-area: main;
    max-width: 100%;
    text-align: center;
    color: #fff;
}

.showcase {
    min-height: 480px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/GettyImages-9405545901523463184498.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;


}

#league img {
    width: 20%;
    padding-left: 0px;
}

#kickOff {
    font-size: 159%;
}

#timer img {
    padding-left: 0px;
}

#info_matches {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#info_matches img {
    padding-left: 0px;
    width: 100%;
    height: auto;
}

.teamName {
    float: left;
    font-size: 300%;
    font-weight: bold;
    margin-top: 60px;
    margin-right: 20px;
    margin-bottom: 65px;
}

.teamNameCity {
    float: right;
    font-size: 300%;
    font-weight: bold;
    margin-bottom: 65px;
    margin-top: 60px;
    margin-right: 0px;
    margin-left: 20px;
}

.match-vs {
    font-size: 200%;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.fix {
    grid-area: fix;
    text-align: center;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 20px auto;
}

.container h3 {
    text-align: left;
}

.matchCards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.singleCard {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    background-color: white;
    width: 20%;
    height: 350px;
}

.singleCard h3 {
    display: inline-block;
    margin-top: 10px;
}

.singleCard img {
    display: block;
    margin: 20px auto 0 auto;
    padding-left: 0;
}

.singleCard p {
    margin: 0;
}

.PLBlack {
    width: 150px;

}


.singleCardTeams {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.singleCardTeams p {
    position: relative;
    bottom: 10px;
    background: #707070;
    color: #fff;
    margin-top: 35px;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;

}

.singleCardTeams img {
    height: 60px;
    margin-bottom: 0px;
    padding: 0 10px;
}

.social {
    grid-area: social;
    text-align: center;
}

.socialIcons{
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#403734,#2a2a2a); 
  padding: 50px 38px;
}
.socialIcons div {
  width: 35%;
}
.socialIcons ul li {
    list-style-type: none;
    display: inline-block;
    margin-top: 1.5%;
    margin-right: 5%;
    /* padding-left: 5%;
    padding-right: 5%; */
    text-align: center;
}

.socialIcons li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    background-color: #3f3f3f;
    border-radius: 50%;
    padding: 10px 15px;
    /* font-weight: bold; */
}

.socialIcons #fb {
  padding: 10px 20px;
}

.socialButtons {
  width: auto;
}

.socialButtons button {
  padding: 10px 27px;
  margin: 15px 3px;
}

button[title='Sign up']{
  background-color: #c80101;
  color: #fff;
  border: none;
  border-radius: 14% 86% 19% 81% / 98% 0% 100% 2% ;
  font-weight: bold;
  font-size: 20px;
  font-family: SourceSansProSemiBold;
}

button[title='Log in']{
  background-color: #1a1a1a;
  color: #fff;
  border: 0.5px solid #fff;
  border-radius: 14% 86% 19% 81% / 98% 0% 100% 2% ;
  font-weight: bold;
  font-size: 20px;
  font-family: SourceSansProSemiBold;
}

button[title='Sign up']:hover{
    cursor: pointer;
    background-color: #9b0000;
}

button[title='Log in']:hover {
    cursor: pointer;
    background-color: #707070;
}

.socialIcons li a:hover {
    background-color: #c70101;
  }



